// override default settings in _custom.scss
@import "./custom";

// import all bootstrap style
@import "bootstrap/scss/bootstrap";

// custom code here
.simplebar-scrollbar::before {
  background-color: #a8bbbf;
}
.simplebar-wrapper {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}
